{% extends 'base.html' %}

{% block title %} | Manager Dashboard{% endblock title %}


{% load static %}

{% block content %}
<body>
 <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
   <div class="container">
     <a class="navbar-brand" href="index.html">Tourism<span>Travel Agency</span></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="oi oi-menu"></span> Menu
   </button>

   <div class="collapse navbar-collapse" id="ftco-nav">
       <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{%url 'home'%}" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="{%url 'about'%}" class="nav-link">About</a></li>
         <li class="nav-item"><a href={%url 'package_list'%} class="nav-link">Packages</a></li>
         {% if user.is_authenticated %}
                    {% if user.is_manager %}
                    <li class="nav-item active"><a href={%url 'manager_dashboard'%} class="nav-link">Dashboard</a></li>
                    {% endif %}
					{%if user.is_authenticated and user.is_superuser %}
					<li class="nav-item"><a href="/admin" class="nav-link">Admin Panel</a></li>
					
					{% endif %}

					<li class="nav-item"><a href={%url 'cart'%} class="nav-link">Cart</a></li>
          <li class="nav-item"><a href={%url 'orders'%} class="nav-link">Orders</a></li>
					<li class="nav-item"><a href={%url 'logout'%} class="nav-link">Logout</a></li>
					{% else %}
					<li class="nav-item"><a href={%url 'user_signup'%} class="nav-link">Sign up</a></li>
					<li class="nav-item"><a href={%url 'login'%} class="nav-link">Login</a></li>
					{% endif %}
         
         <li class="nav-item"><a href={%url "contact"%} class="nav-link">Contact</a></li>
     </ul>
 </div>
</div>
</nav>
<!-- END nav -->

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({%static 'images/package-3.jpg'%});">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
         <p class="breadcrumbs"><span class="mr-2"><a href={%url 'home'%}>Home <i class="fa fa-chevron-right"></i></a></span> <span>Dashboard <i class="fa fa-chevron-right"></i></span></p>
         <h1 class="mb-0 bread">Manager Dashboard : {{ package.name }}</h1>
     </div>
 </div>
</div>
</section>
<center>

  <h2>Packages that you manage:</h2>
  <ul>
 
   {% for package in packages %}
      <p><strong>{{ package.name }}</strong> - {{ package.duration }} days - Start Date: {{package.start_date}}</p>
      
    {% empty %}
      <li>You don't have any packages yet.</li>
      {% endfor %}
  </ul>

  {% if tourists %}
  <h4>Here are the tourists in your package(s):</h4>
  </center>
  {% for tourist in tourists %}
    <table class="table">
      
      <thead>
        <tr>
          <th>Tourist Name</th>
          <th>Package</th>
          <th>Duration</th>
          <th>Food Price</th>
          <th>Accommodation Price</th>
          <th>Total Price</th>
          <th>Date ordered</th>
          <th>Order ID</th>
        </tr>
      </thead>
      
      <tbody>
        
          <tr>
            
            <td>{{ tourist.user.name}}</td>
            <td>{{ tourist.package.name }}</td>
            <td>{{ tourist.package.duration }}</td>
            <td>
              
                {{ tourist.food_price }}<br>
              
            </td>
            <td>{{ tourist.accommodation_price }}</td>
            <td>{{ tourist.total_price }}</td>
            <td>{{ tourist.created_at}}</td>
            <td>{{ tourist.order_id}}</td>
             
            {% comment %} <td><a href="{% url 'ticket' .pk cart.package.pk %}" class="btn btn-success">Place order and get ticket</a></td> {% endcomment %}
          </tr>
 
        
       <br>
      </tbody>
    </table>
 {% endfor %}
 {% else %}
 <center>
   <h2>You haven't placed any orders!</h2>
   </center>
 {% endif %}
{% endblock %}
