{% extends 'base.html' %}
{% load static %}
{% block title %}| Orders{% endblock title %}

{% block content %}
<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href={%url 'home'%}>Tourism<span>Travel Agency</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
 
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href={%url 'home'%} class="nav-link">Home</a></li>
          <li class="nav-item"><a href="{%url 'about'%}" class="nav-link">About</a></li>
          <li class="nav-item"><a href={%url 'package_list'%} class="nav-link">Packages</a></li>
          {% if user.is_authenticated %}
                     {% if user.is_manager %}
                     <li class="nav-item"><a href={%url 'manager_dashboard'%} class="nav-link">Dashboard</a></li>
                     {% endif %}
           {%if user.is_authenticated and user.is_superuser %}
           <li class="nav-item"><a href="/admin" class="nav-link">Admin Panel</a></li>
           
           {% endif %}
 
           <li class="nav-item"><a href={%url 'cart'%} class="nav-link">Cart</a></li>
           <li class="nav-item active"><a href={%url 'orders'%} class="nav-link">Orders</a></li>
           <li class="nav-item"><a href={%url 'logout'%} class="nav-link">Logout</a></li>
           {% else %}
           <li class="nav-item"><a href={%url 'user_signup'%} class="nav-link">Sign up</a></li>
           <li class="nav-item"><a href={%url 'login'%} class="nav-link">Login</a></li>
           {% endif %}
        
          <li class="nav-item"><a href={%url "contact"%} class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({%static 'images/orders.jpg'%});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
         <p class="breadcrumbs"><span class="mr-2"><a href={%url 'home'%}>Home <i class="fa fa-chevron-right"></i></a></span> <span>Orders <i class="fa fa-chevron-right"></i></span></p>
         <h1 class="mb-0 bread">Orders</h1>
       </div>
     </div>
   </div>
  </section>



<center><h1>ORDERS</h1></center>
    {% if orders %}
 {% for order in orders %}
   <table class="table">
     <thead>
       <tr>
         <th>Order ID:</th>
         <th>Package</th>
         <th>Duration</th>
         <th>Food(per meal)</th>
         <th>Accommodation(per day)</th>
         <th>Total Price</th>
         <th>Date ordered</th>
         <th>Action</th>
       </tr>
     </thead>
     <tbody>
       
         <tr>
           <td>{{ order.order_id }}</td>
           <td>{{ order.package.name }}</td>
           <td>{{ order.package.duration }}</td>
           <td>
             
               {{ order.food_price }}<br>
             
           </td>
           <td>{{ order.accommodation_price }}</td>
           <td>{{ order.total_price }}</td>
           <td>{{ order.created_at}}</td>
           <td> 
             <a href="{% url 'cancel_order' order.order_id %}" class="btn btn-danger">Cancel order</a>
           </td> 
           {% comment %} <td><a href="{% url 'ticket' .pk cart.package.pk %}" class="btn btn-success">Place order and get ticket</a></td> {% endcomment %}
         </tr>

       
      <br>
     </tbody>
   </table>
{% endfor %}
{% else %}
<center>
  <h2>You haven't placed any orders!</h2>
  </center>
{% endif %}
<br>


{% endblock content %}




